---
import BaseHead from '../components/BaseHead.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import Body from '../components/Body.astro'
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts'
import Content from '../components/Content.astro'
import {
  IoLogoWechat,
  IoMailSharp,
  IoLogoGithub,
  IoArrowForward,
  IoLogoRss
} from 'react-icons/io5/index.js'
import { FaTelegramPlane } from 'react-icons/fa/index.js'
import FormattedDate from '../components/FormattedDate.astro'
import { getCollection } from 'astro:content'
const posts = (await getCollection('blog')).sort(
  (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
)
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <Body>
    <Header title={SITE_TITLE} />
    <main class="pt-2">
      <Content>
        <section>
          <p>
            Hey，大家好，
            我是code4life，一个正在努力修行的程序员🧑‍💻。我会在这个重建过后的独立博客站点做一些分享，不限类型，
            无限畅想，🤟不断折腾。个人总是对新技术新领域不定时涌动出莫名的欲望，又喜欢独处，热爱鼓捣，却也博而不精，但个人定位就是全栈（gan）开发，也正在拓展其他技能。
            截止目前一共发布了{
              posts.length
            }篇博客，共0字，折腾过0个作品，共收益0￥。
            <a
              class="inline-flex items-center gap-1 indent-1 text-red-600"
              href="/about"
              >Learn more about me<IoArrowForward className="inline" /></a
            >
          </p>
          <p class="italic my-3">
            除了关注我的公众号，你也可以通过以下方式联系我：
          </p>
          <div class="flex">
            <a class="mr-4" href=""><IoLogoWechat size={26} /></a>
            <a class="mr-4" href="https://github.com/WanTong-surak"
              ><IoLogoGithub size={26} /></a
            >
            <a class="mr-4" href=""><FaTelegramPlane size={26} /></a>
            <a class="mr-4" href="mailto:code4life2@xxooyou.cn"
              ><IoMailSharp size={26} /></a
            >
            <a class="mr-4" href="/rss.xml"><IoLogoRss size={26} /></a>
          </div>
        </section>
        <hr class="my-4" />
        <section aria-label="Blog post list">
          <h3 class="mb-4 text-lg font-semibold">最近更新:</h3>
          <ul class="space-y-4 sm:space-y-2 mx-4">
            {
              posts.map(post => (
                <li class="flex items-center justify-start">
                  <FormattedDate date={post.data.pubDate} />
                  <a class="underline" href={`/blog/${post.slug}/`}>
                    {post.data.title}
                  </a>
                </li>
              ))
            }
          </ul>
        </section>
      </Content>
      <Footer />
    </main>
  </Body>
</html>
